<footer class="container-fluid pt-5 d-flex justify-content-around align-items-center flex-wrap">
    <div>
        <img class="logo" src="../img/logo.png" alt="logo">
    </div>
    <nav>
        <ul class="footer-nav">
            <li>
                <a href="#">Inicio</a>
            </li>
            <li>
                <a href="#">Productos</a>
            </li>
            <li>
                <a href="#">Servicios</a>
            </li>
            <li>
                <a href="#">Sobre Nosotros</a>
            </li>
            <li>
                <a href="#">Contacto</a>
            </li>
        </ul>
    </nav>

    <div class="footer-promo">
        <p>Get our newsletter</p>
        <input placeholder="E-mail" type="email">
        <button>Suscribirse</button>
    </div>

</footer>